<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MessageMapper">
    <resultMap id="MessageMapper" type="com.example.entity.Message">
        <id property="id" column="message_id"></id>
        <result property="fromId" column="from_id"></result>
        <result property="toId" column="to_id"></result>
        <result property="createDate" column="create_date"></result>
        <association property="fromUser" column="from_id" select="findUserByUserId"></association>
        <association property="toUser" column="to_id" select="findUserByUserId"></association>
    </resultMap>

    <select id="findUserByUserId" parameterType="int" resultMap="com.example.mapper.UserMapper.UserMapper">
        select * from user where user_id = #{user_id}
    </select>
</mapper>
